docs/textbook.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="textbooks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="book1">
          <xs:annotation>
            <xs:documentation>Micro Interfacing Book</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title"/>
              <xs:element name="author">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="first_name"/>
                    <xs:element type="xs:string" name="last_name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="publisher">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="website"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:short" name="year_of_publication"/>
              <xs:element type="xs:string" name="ISBN"/>
              <xs:element type="xs:string" name="book_website"/>
              <xs:element type="xs:string" name="edition"/>
              <xs:element type="xs:string" name="cover_type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="book2">
          <xs:annotation>
            <xs:documentation>Advance Programming Book</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title"/>
              <xs:element name="author">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="first_name"/>
                    <xs:element type="xs:string" name="last_name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="publisher">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="website"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:short" name="year_of_publication"/>
              <xs:element type="xs:string" name="ISBN"/>
              <xs:element type="xs:string" name="book_website"/>
              <xs:element type="xs:string" name="edition"/>
              <xs:element type="xs:string" name="cover_type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="book3">
          <xs:annotation>
            <xs:documentation>Intenet Programming Book</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title"/>
              <xs:element name="author">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="first_name"/>
                    <xs:element type="xs:string" name="last_name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="publisher">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="website"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:short" name="year_of_publication"/>
              <xs:element type="xs:string" name="ISBN"/>
              <xs:element type="xs:string" name="book_website"/>
              <xs:element type="xs:string" name="edition"/>
              <xs:element type="xs:string" name="cover_type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="book4">
          <xs:annotation>
            <xs:documentation>Data Communication Book</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title"/>
              <xs:element name="author">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="first_name"/>
                    <xs:element type="xs:string" name="last_name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="publisher">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="website"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:short" name="year_of_publication"/>
              <xs:element type="xs:string" name="ISBN"/>
              <xs:element type="xs:string" name="book_website"/>
              <xs:element type="xs:string" name="edition"/>
              <xs:element type="xs:string" name="cover_type"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>